
        /*
        selector por clase
        */

        .caja{
            margin:10px auto;
            width:300px;
            background-color:black;
            color:white;
        }
        
        .centrado{
            text-align:center;
        }

        /*  
        selector por id
        */

        #negrita{
            font-weight: bold;
        }

        /*
        selector por etiqueta  
        */
        
        div{
            border:1px solid red;
        }
